body {
  background-color: #ffffff;
  color: #000000;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.exp-header{
  text-align: center;
  text-transform: uppercase;
	color: #ffffff;
  border-top:1px solid white;
  border-bottom: 1px solid blue;
  background-image:linear-gradient(lightblue, #0050f5 );
}

.info-block{
	text-align:center;
}

img{
	width: 30px;
	margin-bottom: -6px;

}

.mac-logo{
	width: 20px;
	margin-right: 4px;
}

h1{
	font-size: 40px;
}

h3{
	font-size: 20px
}
